<h1>Our e-commerce is in the works</h1>
<div class="products-container">
    <h1>All products</h1>
    {{#each payload}}
    <div class="product-card">
        <div>
            <img src={{image}} alt="">
        </div>
        <div class="content-card">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>Price: ${{price}}</p>
            <p>Category: {{category}}</p>
            <button type="submit">Add to cart</button>
        </div>
    </div>
    {{/each}}

</div>
<div class="pagination">
    {{#if prevLink}}
    <a href="{{prevLink}}">Anterior</a>
    {{/if}}
    <span>Página {{page}} de {{totalPages}}</span>
    {{#if nextLink}}
    <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
</div>