<header>
    <a href="http://localhost:8080/products"><img src="/uploads/icon-clock.png" alt="Preview Icon"></a>
    <ul>
        <li>
            <button onclick="getCookie()" class="get-cookie">Get Cookie</button>
        </li>
        <li><a href="http://localhost:8080/products">Home</a></li>
        <li id="authLink"></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Cart</a>
            <div class="dropdown-content" id="cartDropdown">
                <!-- Los elementos del carrito se agregarán aquí dinámicamente -->
            </div>
        </li>

    </ul>
</header>
<main>
    <div class="background-container">
        <img src="/uploads/background-body-2.jpg" alt="Fondo body">
    </div>
    {{#if session.user}}
    <h1>¡ Welcome {{session.user.first_name}}, your role is {{session.user.role}} !</h1>
    {{else}}
    <h1>¡ Welcome visitor !</h1>
    {{/if}}
    <h2>You have visited this page {{session.views}} times</h2>
    <h1>Our e-commerce is in the works</h1>
    <div class="products-container">
        <h1>All products</h1>
        {{#each payload}}
        <div class="product-card">
            <div>
                <img src={{image}} alt="">
            </div>
            <div class="content-card">
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                <p class="price">Price: ${{price}}</p>
                <p>Category: {{category}}</p>
                <button type="submit">Add to cart</button>
            </div>
        </div>
        {{/each}}

    </div>
    <div class="pagination">
        {{#if prevLink}}
        <a href="{{prevLink}}">Previous</a>
        {{/if}}
        <span>Página {{page}} de {{totalPages}}</span>
        {{#if nextLink}}
        <a href="{{nextLink}}">Next</a>
        {{/if}}
    </div>
    <div class="icon-chat">
        <a href="http://localhost:8080/chat"><img src="/uploads/1708456649794-message.png" alt="Icon Chat"></a>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', async function () {
        const dropdown = document.querySelector('.dropdown');
        const dropdownContent = document.getElementById('cartDropdown');

        // Obtener todos los carritos
        const carts = await fetch('http://localhost:8080/carts').then(response => response.json());

        // Generar dinámicamente los elementos del menú desplegable
        carts.forEach(cart => {
            const link = document.createElement('a');
            link.href = `http://localhost:8080/carts/${cart._id}`;
            link.textContent = `Cart ${cart._id}`;
            dropdownContent.appendChild(link);
        });

        // Mostrar u ocultar el menú desplegable al hacer clic en el elemento <li> del carrito
        dropdown.addEventListener('click', function (event) {
            // Evita que el evento de clic se propague al elemento <a> dentro del <li>
            event.stopPropagation();
            dropdownContent.classList.toggle('show');
        });

        // Ocultar el menú desplegable al hacer clic fuera de él
        document.addEventListener('click', function (event) {
            if (!dropdown.contains(event.target)) {
                dropdownContent.classList.remove('show');
            }
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const isLoggedIn = {{ isLoggedIn }}; // Asegúrate de que esta línea esté correctamente evaluada
    const authLink = document.getElementById('authLink');
    if (isLoggedIn) {
        authLink.innerHTML = '<a href="/logout">Log out</a>';
    } else {
        authLink.innerHTML = '<a href="/login">Sign in</a>';
    }
    });
    function getCookie() {
        fetch('/getCookie')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener la cookie');
                }
                return response.text();
            })
            .then(cookie => console.log(cookie))
            .catch(error => console.error(error));
    };

</script>